[submodule "mediawiki/core"]
	path = mediawiki/core
	url = https://gerrit.wikimedia.org/r/p/mediawiki/core.git
	branch = f465524fc4840fb5c8b97e9ee6ffaf2a30c2e644
[submodule "mediawiki/skins/Vector"]
	path = mediawiki/skins/Vector
	url = https://gerrit.wikimedia.org/r/p/mediawiki/skins/Vector.git
[submodule "mediawiki/parsoid"]
	path = mediawiki/parsoid
	url = https://gerrit.wikimedia.org/r/p/mediawiki/services/parsoid
[submodule "mediawiki/extensions/VisualEditor"]
	path = mediawiki/extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/VisualEditor.git
[submodule "mediawiki/extensions/SyntaxHighlight_GeSHi"]
	path = mediawiki/extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/SyntaxHighlight_GeSHi.git
[submodule "mediawiki/extensions/ParserFunctions"]
	path = mediawiki/extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ParserFunctions.git
[submodule "mediawiki/extensions/WikiEditor"]
	path = mediawiki/extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/WikiEditor.git
[submodule "mediawiki/extensions/Renameuser"]
	path = mediawiki/extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Renameuser.git
[submodule "mediawiki/extensions/InputBox"]
	path = mediawiki/extensions/InputBox
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/InputBox.git
[submodule "mediawiki/extensions/Cite"]
	path = mediawiki/extensions/Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite.git
[submodule "mediawiki/extensions/Interwiki"]
	path = mediawiki/extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Interwiki.git
[submodule "mediawiki/extensions/News"]
	path = mediawiki/extensions/News
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/News.git
[submodule "mediawiki/extensions/Echo"]
	path = mediawiki/extensions/Echo
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Echo.git
[submodule "mediawiki/extensions/Flow"]
	path = mediawiki/extensions/Flow
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Flow.git
[submodule "mediawiki/extensions/ReplaceText"]
	path = mediawiki/extensions/ReplaceText
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ReplaceText.git
[submodule "mediawiki/extensions/Editcount"]
	path = mediawiki/extensions/Editcount
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Editcount.git
